{% extends 'accounts/base_accounts.html' %}

{% load crispy_forms_tags %}

{% block title %}
    Reset password - {{ block.super }}
{% endblock %}

{% block content %}
    <div class="row justify-content-center mb-4">
        <div class="col-lg-5 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Reset your password</h3>
                    <p class="card-text">Enter your email address and we will send you a link to reset your
                        password.</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-block">Send password reset email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}