{% extends 'base.html' %}

{% block title %}
    My account - {{ user.username }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">My account</li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-6">
            <h4>First name:</h4>
            <p class="lead">{{ user.first_name }}</p>
            <h4>Last name:</h4>
            <p class="lead">{{ user.last_name }}</p>
        </div>
        <div class="col-6">
            <h4>Username:</h4>
            <p class="lead">{{ user.username }}</p>
            <h4>Email:</h4>
            <p class="lead">{{ user.email }}</p>
        </div>
    <hr/>
    </div>
    <div class="row">
        <div class="col-12 col-md-3 my-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account details</h5>
                    <div class="list-group">
                        <a class="list-group-item" href="{% url 'account-update' %}">Update details</a>
                        <a class="list-group-item" href="{% url 'password_change' %}">Change password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}